<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.pemicro.debug.gdbjtag.pne.launchConfigurationType">
<stringAttribute key="com.pemicro.debug.gdbjtag.pne.PE.DEVICE_NAME" value="K20DX128"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/FRDM-K20_FreeRTOS_IAR.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FRDM-K20_FreeRTOS_IAR"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FRDM-K20_FreeRTOS_IAR"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
