<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.freescale.cdt.launch.cw.download">
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.DSC Advanced.massErase" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.DSC Advanced.powerCycleDlg" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.DSC Debugger.processor" value="MC56F8257"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Debugger PIC Settings Panel.altLoadAddr" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Debugger PIC Settings Panel.enableAltLoadAddr" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDconstant" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDexecutable" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDinitialized" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IDuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVconstant" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVexecutable" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVinitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.IVuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDconstant" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDexecutable" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDinitialized" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SDuninitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVconstant" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVexecutable" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVinitialized" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Download.SVuninitialized" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.coreIndex" value="0"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.homogeneousMulticore" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.initPath" value="${ProjDirPath}/Project_Settings/Debugger/MC56F8257.tcl"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.memConfigPath" value="${ProjDirPath}/Project_Settings/Debugger/MC56F8257.mem"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.simulator" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.smp" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.systemType" value="com.freescale.cw.system.dsc.MC56F825x.MC56F8257"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.useDefaultConfigFile" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.useInitFile" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.Embedded Initialization.useMemoryConfigFile" value="true"/>
<listAttribute key="com.freescale.cdt.debug.cw.CoreNameList">
<listEntry value="MC56F8257#0"/>
</listAttribute>
<listAttribute key="com.freescale.cdt.debug.cw.Debug"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.DebuggerTab.StopAtProgramEntryPoint" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.DebuggerTab.StopAtStartUp" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.DebuggerTab.StopAtUserSpecified" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Embedded Download.ExecuteTasks" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Embedded Download.StandardDownload" value="true"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskInitialLaunches"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskNames"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskSuccessiveRuns"/>
<listAttribute key="com.freescale.cdt.debug.cw.Embedded Download.TaskTypes"/>
<listAttribute key="com.freescale.cdt.debug.cw.ExecutablePath"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.InitializePC" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.InitializePCAtProgramEntryPoint" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.InitializePCAtSymbol" value="main"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.InitializePCAtUserSpecified" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.LaunchMode" value="DOWNLOAD"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtExit" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtProgramEntryPoint" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtStartUp" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.PN_StopAtUserSpecified" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.RefreshPolicy.RefreshPeriod" value="2.0"/>
<listAttribute key="com.freescale.cdt.debug.cw.RemoteDownload"/>
<listAttribute key="com.freescale.cdt.debug.cw.RemotePath"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.ResumeProgram" value="true"/>
<listAttribute key="com.freescale.cdt.debug.cw.SMPCores"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.SYNC_WITH_ENCL_PROJ" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Symbolics.CacheSymbolicsBetweenRuns" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.Symbolics.UseExecutableCopy" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.UDPPort" value="1234"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.UseApplication" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryConnectionOn" value="false"/>
<intAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryTimeout" value="20"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.RetryWithTimeoutOn" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.TerminateConnectionOn" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.ConnectionCommonData.TargetConnectionLost.promptUserActionOn" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Connection Protocol Plugin Name" value="DSC GDI"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Connection Type" value="com.pemicro.mcu.debug.connections.pne.dsc"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Processor Attr Name" value="com.freescale.cdt.debug.cw.CW_SHADOWED_PREF.DSC Debugger.processor"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.PhysicalConnectionAttributeBase" value="com.pemicro.mcu.debug.connections.pne.dsc."/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.SimulatorConnectionAttributeBase" value=""/>
<booleanAttribute key="com.freescale.cdt.debug.cw.core.settings.GdiConnection.Common.logData" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.rseSystemId" value="com.freescale.cdt.debug.cw.core.ui.rse.systemtype.bareboard.hardware.120128140819+0100"/>
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.wizardSystemNameHint" value="PnE U-MultiLink"/>
<stringAttribute key="com.freescale.cdt.debug.cw.debuggerAddress" value="127.0.0.1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.disableIO" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.ethCtrl" value="UEC1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executeInitScripts" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executePerCoresReset" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executePerprocessorReset" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executeReset" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.executeResetSequence" value="true"/>
<stringAttribute key="com.freescale.cdt.debug.cw.gateway" value="127.0.0.1"/>
<listAttribute key="com.freescale.cdt.debug.cw.initPathList">
<listEntry value="${ProjDirPath}/Project_Settings/Debugger/MC56F8257.tcl"/>
</listAttribute>
<stringAttribute key="com.freescale.cdt.debug.cw.macAddress" value="**-**-**-**-**-**"/>
<listAttribute key="com.freescale.cdt.debug.cw.memConfigPathList">
<listEntry value="${ProjDirPath}/Project_Settings/Debugger/MC56F8257.mem"/>
</listAttribute>
<stringAttribute key="com.freescale.cdt.debug.cw.netMask" value="255.255.255.255"/>
<listAttribute key="com.freescale.cdt.debug.cw.perCoreResetList"/>
<listAttribute key="com.freescale.cdt.debug.cw.perProcessorResetList"/>
<stringAttribute key="com.freescale.cdt.debug.cw.processor" value="Generic"/>
<listAttribute key="com.freescale.cdt.debug.cw.runOutOfResetList">
<listEntry value="false"/>
</listAttribute>
<booleanAttribute key="com.freescale.cdt.debug.cw.skipSystemInitialization" value="false"/>
<stringAttribute key="com.freescale.cdt.debug.cw.targetAddress" value="127.0.0.1"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useGateway" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useHSSTIO" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.useInitPathList">
<listEntry value="true"/>
</listAttribute>
<booleanAttribute key="com.freescale.cdt.debug.cw.useMacAddress" value="false"/>
<listAttribute key="com.freescale.cdt.debug.cw.useMemConfigPathList">
<listEntry value="true"/>
</listAttribute>
<booleanAttribute key="com.freescale.cdt.debug.cw.useNetworkTransferIO" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useSerialTransferIO" value="false"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useStopTransferIO" value="true"/>
<booleanAttribute key="com.freescale.cdt.debug.cw.useUDPPort" value="false"/>
<listAttribute key="com.freescale.panel.list">
<listEntry value="Debugger Common Settings"/>
<listEntry value="DSC Advanced"/>
<listEntry value="Embedded Download"/>
<listEntry value="Debugger PIC Settings Panel"/>
<listEntry value="Other Executables"/>
<listEntry value="Symbolics"/>
</listAttribute>
<booleanAttribute key="com.freescale.sa.mcu.launch.BACKUP_ELD" value="true"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.CONTINUOUS_TRACE" value="false"/>
<intAttribute key="com.freescale.sa.mcu.launch.DSC_TRACE_START_STOP_CONDITION" value="0"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.ENABLE_ANALYSIS" value="false"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.ENABLE_DATA_VISUALIZATION" value="false"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.ENABLE_LOGGING" value="false"/>
<booleanAttribute key="com.freescale.sa.mcu.launch.SET_TGT_SETTING_ON_RUN" value="false"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.CommandLineArgs" value="dsc_icd "/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.ConfigFile" value=""/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.Library" value="dsc_pne_gdi"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_ALTERNATIVE_ALGORITHM_CHECKBOX" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_ALTERNATIVE_ALGORITHM_PATH" value=""/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_AUTO_SYNC" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_CURRENT_ALGORITHM_INDEX" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_ENABLE_FLASH_PROGRAMMING_DIALOG" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.PEDEBUG_ERASE_PROGRAM_WITHOUT_ASKING" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.RESET_DELAY" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_CyclonePro_PowerDownDelay" value="250"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_CyclonePro_PowerUpDelay" value="250"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_CyclonePro_currentvoltage" value="255"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_CyclonePro_poweroffonexit" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_FREQ_CYCLONE" value="22"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_FREQ_FX" value="24"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_FREQ_NORMAL" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_FREQ_OSJTAG" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_FREQ_TRACELINK" value="22"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_Multilink_PowerDownDelay" value="250"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_Multilink_PowerUpDelay" value="1000"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_PCI_DELAY" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_PORT" value="21"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_PORT_NAME_STRING" value="PE5655301"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_RESET_DELAY" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_SPECIFY_IP" value="127.0.0.1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_SPECIFY_IP_ENABLED" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_SPECIFY_NETWORKCARD" value="127.0.0.1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_SPECIFY_NETWORKCARD_ENABLED" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_USE_CYCLONEPRO_RELAYS" value="1"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.STARTUP_interface_selection" value="0"/>
<stringAttribute key="com.pemicro.mcu.debug.connections.pne.dsc.UUID" value="4042a971-0c22-4856-b764-8b78592e596f"/>
<booleanAttribute key="forceShellDownload" value="false"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.freescale.cdt.debug.cw.dsc.DSCDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="Fmain"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_RESTORE_WATCHPOINTS" value="true"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList&gt;&#13;&#10;&lt;globalVariable name=&quot;FpxCurrentTCB&quot; path=&quot;&quot;/&gt;&#13;&#10;&lt;globalVariable name=&quot;FpxCurrentTCB&quot; path=&quot;&quot;/&gt;&#13;&#10;&lt;/globalVariableList&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="MC56F8257_Internal_PFlash_SDM/TWR-MC56F8257_FreeRTOS.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="TWR-MC56F8257_FreeRTOS"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.freescale.dsc.cdt.toolchain.config.debug.894433334"/>
<intAttribute key="org.eclipse.cdt.launch.SET_REGULAR_BREAKPOINT_TYPE_AS" value="0"/>
<booleanAttribute key="org.eclipse.cdt.launch.USE_SET_REGULAR_BREAKPOINT_TYPE_AS" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TWR-MC56F8257_FreeRTOS"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SERVER_SOCKET" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET" value="false"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET_HOST" value=""/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_REDIRECT_TO_SOCKET_PORT" value=""/>
<stringAttribute key="process_factory_id" value="com.freescale.cdt.debug.cw.core.ProcessFactoryID"/>
</launchConfiguration>
