/Templts
/DOCs
/Config
# Drivers
/Drivers/sw/USB_CMX.drv
/Drivers/sw/USB_Config_CMX.drv
/Drivers/sw/USB_DEVICE_STACK.drv
/Drivers/sw/USB_HID_CLASS.drv
/Drivers/sw/USB_HID_CMX.drv
/Drivers/sw/USB_Host_CMX.drv
/Drivers/sw/uCOS_II.drv

#ignoring USB Stack PEx components
/Beans/USB_AUDIO_CLASS
/Drivers/Common/USB_AUDIO_CLASS*
/Drivers/USB_AUDIO_CLASS.src
/Drivers/sw/USB_AUDIO_CLASS.*

/Beans/USB_CDC_CLASS
/Drivers/Common/USB_CDC_CLASS*
/Drivers/USB_CDC_CLASS.src
/Drivers/sw/USB_CDC_CLASS.*

/Beans/USB_DEVICE_STACK
/Drivers/Common/USB_DEVICE_STACK*
/Drivers/USB_DEVICE_STACK.src
/Drivers/sw/USB_DEVICE_STACK.*

/Beans/USB_HOST_STACK
/Drivers/Common/USB_HOST_STACK*
/Drivers/USB_HOST_STACK.src
/Drivers/sw/USB_HOST_STACK.*

/Beans/USB_HID_CLASS
/Drivers/Common/USB_HID_CLASS*
/Drivers/USB_HID_CLASS.src
/Drivers/sw/USB_HID_CLASS.*

/Beans/USB_HOST_CLASS
/Drivers/Common/USB_HOST_CLASS*
/Drivers/USB_HOST_CLASS.src
/Drivers/sw/USB_HOST_CLASS.*

/Beans/USB_MSD_CLASS
/Drivers/Common/USB_MSD_CLASS*
/Drivers/USB_MSD_CLASS.src
/Drivers/sw/USB_MSD_CLASS.*

/Beans/USB_OTG_STACK
/Drivers/Common/USB_OTG_STACK*
/Drivers/USB_OTG_STACK.src
/Drivers/sw/USB_OTG_STACK.*


/*-History-log.txt
