/Debug/
/.settings/
/Sources/
/Static_Code/
/Documentation/
/Project_Settings/
/Generated_Code/Cpu.c
/Generated_Code/Cpu.h
/Generated_Code/PE_Error.h
/Generated_Code/PE_Types.h
/Generated_Code/PE_Const.h
/Generated_Code/PE_LDD.h
/Generated_Code/PE_LDD.c
/Generated_Code/Vectors_Config.h
/Generated_Code/Init_Config.h
/Generated_Code/CPU_Config.h
/Generated_Code/IO_Map.h

*.g_c
*.g_x
ProjectInfo.xml
