<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.nxp.mcuxpresso.core.debug.support.segger.launchConfigurationType">
    <stringAttribute key="com.crt.ctrlcenter.OFSemuDetails" value="JLink801011411"/>
    <booleanAttribute key="com.crt.ctrlcenter.mainBreakIsHardware" value="true"/>
    <booleanAttribute key="com.crt.ctrlcenter.saveState" value="true"/>
    <stringAttribute key="com.crt.ctrlcenter.serialNumber" value="USB 801011411"/>
    <intAttribute key="com.nxp.mcuxpresso.core.debug.support.segger.launches.JLinkLaunchConfigHandler.version" value="2"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.manufacturer" value="SEGGER"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.name" value="J-Link EDU Mini"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.nickname" value=""/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.type" value="USB"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.auto.startup" value="auto"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.device" value="MK64FN1M0xxx12"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.endian" value="little"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.halt.target" value="-halt"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.if" value="SWD"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.init.register" value="-noir"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.jlinkscriptfile" value=""/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.options" value=""/>
    <intAttribute key="com.nxp.mcuxpresso.segger.port" value="2331"/>
    <booleanAttribute key="com.nxp.mcuxpresso.segger.powertarget 50" value="false"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.rtos" value="false;GDBServer/RTOSPlugin_FreeRTOS"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.select" value="USB=801011411"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.silent" value="-nosilent"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.singlerun" value="-singlerun"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.speed" value="auto"/>
    <intAttribute key="com.nxp.mcuxpresso.segger.swoport" value="2332"/>
    <intAttribute key="com.nxp.mcuxpresso.segger.telnetport" value="2333"/>
    <stringAttribute key="com.nxp.mcuxpresso.segger.verify" value="-vd"/>
    <stringAttribute key="disconnect" value="Run"/>
    <stringAttribute key="launch.config.handler" value="com.nxp.mcuxpresso.core.debug.support.segger.launches.JLinkLaunchConfigHandler"/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.delay" value="3"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doHalt" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.initCommands" value="monitor reset"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="SEGGER J-Link probes"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="2331"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="arm-none-eabi-gdb"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value=""/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="remote"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\FRDM-K64F_FreeRTOS_PEx.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FRDM-K64F_FreeRTOS_PEx"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="ilg.gnuarmeclipse.managedbuild.cross.config.elf.debug.133897571"/>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="com.nxp.mcuxpresso.core.debug.support.segger.dsfLaunchDelegate"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="com.nxp.mcuxpresso.core.debug.override.MCXProcessFactory"/>
    <booleanAttribute key="semihost" value="true"/>
    <booleanAttribute key="start.server" value="true"/>
</launchConfiguration>
