/.settings/
/CMakeFiles/
/elf2uf2/
/generated/
/pico-sdk/
/pioasm/
cmake_install.cmake
CMakeCache.txt
Makefile
*.elf
*.bin
*.hex
*.map
*.dis
*.uf2

/src/CMakeFiles/
/src/Makefile
/src/*.a
/build/

# ninja files
.ninja_deps
.ninja_log
build.ninja

